<p id="notice"><%= notice %></p>

<%= turbo_stream_from @room %>
 
<%= turbo_frame_tag "room" do %>
  <%= render @room %>
  
  <p>
    <%= link_to '修改名称', edit_room_path(@room) %> |
    <%= link_to '回到聊天室列表', rooms_path, "data-turbo-frame": "_top" %>
  </p>
<% end %>

<div id="messages">
  <%= render @room.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>


  <!-- <p>
    <strong> 名称：</strong>
    <%= @room.name %>
  </p> -->